* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.main-header {
  width: 100%;
  height: 130px;
  background-color: lightgrey;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  height: 30px;
  align-self: flex-end;
  font-size: 18px;
  margin: 10px 20px;
}

.top-container {
  justify-content: space-between;
}

.top-nav {
  width: auto;
  height: 80px;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.header-link {
  margin: 10px 30px;
  width: auto;
}

.active {
  color: darkgreen;
}

.logo {
  height: auto;
  width: 200px;
  margin: 20px;
  align-self: flex-end;
}

main {
  width: 90%;
  margin: auto;
}

h1 {
  background: lightpink;
  font-size: 50px;
  margin-top: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  background: lightblue;
}

.game-card {
  width: 100%;
  height: 250px;
  justify-self: center;
  background: white;
}

.taglist li {
  display: inline;
}