* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style-type: none;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.main-header {
  width: 100%;
  height: 130px;
  background-color: lightgrey;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  height: 30px;
  align-self: flex-end;
  font-size: 18px;
  margin: 10px 20px;
}

.top-container {
  justify-content: space-between;
}

.top-nav {
  width: auto;
  height: 80px;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.header-link {
  margin: 10px 30px;
  width: auto;
}

.active {
  color: darkgreen;
}

.logo {
  height: auto;
  width: 200px;
  margin: 20px;
  align-self: flex-end;
}

main {
  width: 90%;
  margin: auto;
}

h1 {
  background: lightpink;
  font-size: 50px;
  margin-top: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  background: lightblue;
}

.game-card {
  width: 100%;
  height: 350px;
  justify-self: center;
  background-color: white;
  border-radius: 15px;
}

.taglist {
  margin-top: 5px;
}

.taglist li {
  display: inline-block;
  background-color: lightgrey;
  padding: 2px 4px;
  border-radius: 10px;
}

.game-card header {
  height: 65%;
  width: 100%;
}

.game-card h3 {
  font-weight: 500;
  margin-top: 3px;
}

.game-card footer {
  padding: 10px;
}






.league {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  ), url(./img/league.jpeg) top center no-repeat;
  background-size: cover;
}

.fortnite {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  ), url(./img/fortnite.jpeg) top center no-repeat;
  background-size: cover;
}

.wow {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  ), url(./img/wow.jpeg) top center no-repeat;
  background-size: cover;
}

.valorant {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  ), url(./img/valorant.jpeg) top center no-repeat;
  background-size: cover;
}

.rocketleague {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  ), url(./img/rl.jpeg) top center no-repeat;
  background-size: cover;
}

.ffxiv {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  ), url(./img/ffxiv.jpeg) top center no-repeat;
  background-size: cover;
}